<h1>Jobs</h1>
<% @jobs.each do |job| %>
  <div class="media">
    <div class="media-body">
      <div class="media-heading">
        <h4><%= link_to job.name, job %></h4>
      </div>
      <h4><%= job.number %></h4>
    </div>
</div>
<% end %>

<%= link_to "New Job", new_job_path, class: "btn btn-success" %>