<h4><%= @job.name %></h4>
<div class="row">
  <div class="col-sm-3">
    <h5>Job #:<%= @job.number %></h5>
  </div>
  <div class="col-sm-3">
    <h5>Precon #:<%= @job.precon_number %></h5>
  </div>
</div>

<%= link_to "Edit Job", edit_job_path, class: "btn btn-primary" %>