 <div class="row">
  <h1><%= "New Contact for #{@company.name}" %> </h1>
  <div class="col-sm-4"> 
    <%= render partial: "form", locals: { company: @company, contact: @contact } %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#magic-checkbox").click(function(){
      $("#contact_address").attr('value', $("#contact_address").data("auto")),
      $("#contact_city").attr('value', $("#contact_city").data("auto")),
      $("#contact_state_id option").attr('selected', $("#contact_state_id").data("auto")),
      $("#contact_zip").attr('value', $("#contact_zip").data("auto"))
    })
  });
</script>