var rowTemplate = "<tr><td></td></td><td><%= @daily_note.issue %></td><td><%= @daily_note.location %></td><td><%= @daily_note.comment %></td><td></td</tr>"

$("#daily-notes tbody").prepend(rowTemplate);